.image h1{
    /* border:3px solid */
    display: block;
    /* text-align: center; */
    padding:5px;
    color:black;
    
}
#img{
    border:4px solid black;
    margin-left: 50px;
    margin-top: 25px;
    display:block;
    /* align: */
}
